* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



h1 {
    color:#041f16;
}


li{

    color:blue;
    padding-bottom:20px;
    font-size:30px;
}

a {
    color:blue;

}



h2{
    background-color:white;
    font-size:40px;
    text-align:center;
}

.f1{
    font-size:30px;
}

.f2 {
    font-size:35px;
    padding-top:30px;
    padding-bottom:30px;
}

.f3{
    font-size:40px;
    background-color:white;
    color:#022130;
}

